<section class="vh-70" style="background-color: #DAF7A6;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        
        
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>
            <p>{{nombre}}</p>

            

        
        
        </div></div></div></section>




