<section class="vh-70" style="background-color: #DAF7A6;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div>
            <div class="card-body p-md-0">
              <div style="padding-bottom: 10px" class="row justify-content-center">
  
                <p class="text-center h5 fw-bold mb-5 mx-1 mx-md-4 mt-5 textoColor-6">Perfil de usuario</p>
  
  
                <div class="col-md-10 col-10 col-lg-4 col-xl-4 order-2 order-lg-1 mb-5 ms-5 me-5">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span>Nombre:</span>&nbsp;
                        <div class="form-outline flex-fill mb-0">
                        <span class="textoColor-1">{{ nombre?nombre:'No ingresado' }}</span>
                      </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span>Apellido:</span>&nbsp;
                        <div class="form-outline flex-fill mb-0">
                        <span class="textoColor-1">{{ apellido?apellido:'No ingresado' }}</span>
                      </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span>DNI:</span>&nbsp;
                        <div class="form-outline flex-fill mb-0">
                        <span class="textoColor-1">{{ dni?dni:'No ingresado' }}</span>
                      </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <span>Email:</span>&nbsp;
                          <div class="form-outline flex-fill mb-0">
                          <span class="textoColor-1">{{ email?email:'No ingresado' }}</span>
                        </div>
                        </div>
                      </div>
  
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-home fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <span>Dirección:</span>&nbsp;
                          <div class="form-outline flex-fill mb-0">
                          <span class="textoColor-1">{{ direccion?direccion:'No ingresado' }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row justify-content-center mb-4">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <span>Teléfono:</span>&nbsp;
                          <div class="form-outline flex-fill mb-0">
                          <span class="textoColor-1">{{ telefono?telefono:'No ingresado' }}</span>
                        </div>
                        </div>
                      </div>
  
                    

                    <div class="d-flex justify-content-center mx-4 mb-3 mt-5 mb-lg-2">
                      <button type="submit" (click)="editarPerfil()" class="btn btn-editar-perfil" 
                      >Editar perfil</button>
                    </div>
  
                    
                        </div>
                        
  
                                
                    
  
                    
  
                    
  
            
  
                </div>
  
            
  
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>
