

        <section class="vh-70" style="background-color: #DAF7A6;">

            <div class="container h-100 mt-3">
          
              <div class="row d-flex justify-content-center align-items-center h-100">
          
                <div class="col-lg-12 col-xl-11 mt-2">
          
                  
          
                    <p class="text-center h4 fw-bold mb-5 mx-1 mx-md-4 mt-5 textoColor-6">
                        Historial de compras
                    </p>
          
          
                  <div class="row row-cols-1 row-cols-md-1 g-4 ms-0 me-0">
          
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            <th class="fila-titulo">afflkhafalf kllkalkflka</th>
                            
                    
                        
                            @for(purchase of purchases; track purchase.id){
                            

                                <tr class="fila-info">
                                    <td class="fila-info">{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    <td>{{purchase.precioUnidad}}</td>
                                    
                                </tr>

                                
                            
                            }

                        </table>
                    </div>

                        </div>
          
                 
          
                  <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                    [length]="totalItems" (page)="onPageChange($event)" aria-label="Select page" showFirstLastButtons
                    class="d-flex mt-3 mb-5 pb-2 pt-2 justify-content-center align-items-center rounded">
                  </mat-paginator>
          
                </div>
              </div>
          
            </div>
          
          </section>