.encabezado {
    color: #FF5733!important;
    font-weight: bold;
}

.precioMax {
    color: #16a085!important;
    font-weight: bold;
}

.btn-filtrar:hover {
    background-color: #FF5733!important;
    color:#DAF7A6!important;
    box-shadow: none;
    outline: none;
}

.btn-filtrar {
    color: #16a085!important;
    background-color: #FFC300!important;
}

.precio-card {
    font-weight: bold!important;
    font-size: large!important;
  }

.titulo-card {
    font-size: medium!important;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis;
    color: #16a085;
}

