<section class="vh-70" style="background-color: #DAF7A6;">

  <div class="container h-100 mt-3">

    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-lg-12 col-xl-11 mt-5">

        <div class="mb-5 row row-cols-2">

          <div class="text-start col-7 col-md-7">
            <div>
              <span
                class="encabezado h5 p-1 pt-2 pb-2">
                &nbsp;{{encabezado}}&nbsp;
              </span>
            </div>
          </div>

          <div class="text-end col-5 col-md-5">
            <div>
              <a href="" data-bs-toggle="modal" data-bs-target="#modalFiltro"><span 
                class="p-1 rounded btn-filtrar pt-2 pb-2">
                &nbsp;Filtrar por precio&nbsp;</span>
              </a>
            </div>
          </div>

        </div>

        <!-- Modal para filtrar -->
        <div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 350px;" onblur="cerroModal()">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 color-6" id="exampleModalLabel">Filtrar por precio máximo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body fondo-modal">
                <form [formGroup]="formularioListProducts">
                  <div class="mb-3">
                    <label for="precioModal" class="col-form-label textoColor-1">Precio máximo:</label>
                    <input minlength="1" maxlength="7" type="text"
                    formControlName="precioModal" class="form-control" id="precioModal"
                    style="width:150px;">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button #closebutton type="button" class="btn btn-filtrar" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-filtrar" id="closebutton" (click)="filtrar()">Filtrar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-4">

          
          @for (product of products; track product.id) {

          <a href="#" (click)="openPublication(product.id)" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
            <div class="col">
              <div class="card">
                <img src="assets/images/remeraNegraNarrowHombre.jpg" class="card-img-top">
                <div class="card-body" style="height: 125px; background-color: #F5F5F0;">
                  <h5><span class="card-title textoColor-product-title titulo-card mb-3">{{ product.titulo }}</span></h5>
                  <p class="card-text textoColor-product-price" style="text-align: center;">Precio: <span class="precio-card">${{ precioAPrecioConPuntos(product.precio) }}</span></p>
                </div>
              </div>
            </div>
          </a>

          }

        </div>

        <div style="margin-bottom: 70px;">
          <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
            [length]="totalItems" (page)="onPageChange($event)" aria-label="Select page" showFirstLastButtons
            class="d-flex mt-3 mb-5 pb-2 pt-2 justify-content-center align-items-center rounded">
          </mat-paginator>
        </div>

      </div>
    </div>

  </div>

</section>