.fondoColor-1 {background-color: #16a085;}
.fondoColor-2 {color: #27ae60;}
.color-3 {color: #229954;}
.fondoColor-4 {color: #DAF7A6;}
.color-5 {color: #FFC300;}
.color-6 {color: #FF5733;}

.textoColor-1 {color: #16a085;}
.textoColor-2 {color: #27ae60;}
.textoColor-3 {color: #229954;}
.textoColor-4 {color: #DAF7A6;}
.textoColor-5 {color: #FFC300;}
.textoColor-6 {color: #FF5733;}
