.fondoColor-1 {background-color: #16a085;}
.fondoColor-2 {color: #27ae60;}
.color-3 {color: #229954;}
.fondoColor-4 {color: #DAF7A6;}
.color-5 {color: #FFC300;}
.color-6 {color: #FF5733;}

.textoColor-1 {color: #16a085;}
.textoColor-2 {color: #27ae60;}
.textoColor-3 {color: #229954;}
.textoColor-4 {color: #DAF7A6;}
.textoColor-5 {color: #FFC300;}
.textoColor-6 {color: #FF5733;}

.custom-checkbox {
    border-color: #FFC300!important;
    box-shadow: none!important;
}
.custom-checkbox:checked {
    /* Elimino los estilos del navegaror */
    appearance: none!important;
    /* Aplico mis estilos */
    background-color: #FF5733!important;
    border-color: #FF5733!important;
}

.text-naranja {
    color :#FF5733!important;
}

/*Tamano texto de ventana Swal*/
.swal2-popup {
    font-size: 11px !important;
    color:#16a085 !important;
    padding-inline-start: 0px!important;
    padding-inline-end: 0px!important;
    padding-top: 5px!important;
    padding-bottom: 30px!important;
}