<nav class="navbar navbar-expand-lg navbar-dark fondoColor-1">
  <div class="container-fluid mt-1 mb-1">

    <!--<a class="navbar-brand" [routerLink]="['inicio/', 'dani']" routerLinkActive="active" 
    data-bs-toggle="collapse"
    data-bs-target=".navbar-collapse.show">-->
    <a class="navbar-brand" routerLink="/products-list/inicio" routerLinkActive="active" 
    data-bs-toggle="collapse"
    data-bs-target=".navbar-collapse.show">
      <img src="assets/images/logoDShop.png" alt="" class="d-inline-block align-top headerLogo">
    </a>

    <button class="navbar-toggler menu-hamburger" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <!--<span style="font-size: large">&nbsp;Menú</span>-->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">



      <div class="d-flex flex-row align-items-baseline flex-basis-auto">


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-categorias" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu categorias-fondo">
              <li><a class="dropdown-item categorias-option" routerLink="/products-list/inicio" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Televisores
                </a></li>
              <li><a class="dropdown-item categorias-option" routerLink="/products-list/inicio" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Celulares
                </a></li>
              <li><a class="dropdown-item categorias-option" routerLink="/products-list/inicio" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Notebooks
                </a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" routerLink="/products-list/inicio" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Ofertas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" routerLink="/login" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Ayuda</a>
          </li>

        </ul>
      </div>

      <div class="d-flex flex-row flex-grow-1">
        <form role="search" class="d-flex flex-row align-items-baseline justify-content-center flex-grow-1">
          <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Search">
          <button class="btn btn-buscar" type="button" (click)="buscar()" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Buscar</button>
        </form>
      </div>

      <!-- cambiar acá para que el dropdown quede largo hasta el final-->
      <div class="d-flex flex-row align-items-baseline flex-basis-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          @if(userLogueado() === 'false'){

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" routerLink="/crear-cuenta" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
              Creá tu cuenta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" routerLink="/login" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Ingresá&nbsp;</a>
          </li>

          } @else {

            @if(getRolOfUser() === 'ADMIN'){

              <li class="nav-item">
                <a class="nav-link texto-administrar" routerLink="/login" routerLinkActive="active" data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show">Administrar&nbsp;</a>
              </li>

            }

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-categorias" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{userNombre()}}
            </a>
            <ul class="dropdown-menu categorias-fondo dropdown-menu-end mb-2">
              <li><a class="dropdown-item categorias-option" routerLink="/login" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Mi perfil
                </a></li>
              <li><a class="dropdown-item categorias-option" routerLink="/login" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Mis compras
                </a></li>
              <li><a class="dropdown-item categorias-option" (click)="logout()" routerLink="/logout"
                  routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Cerrar sesión
                </a></li>
            </ul>
          </li>



          }

          <li class="d-flex">
            <a class="navbar-brand" [routerLink]="['inicio/', 'dani']" routerLinkActive="active"
              class="d-flex align-items-center" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <img src="assets/images/carrito.png" alt="Carrito"
                class="justify-content-center align-items-center">
            </a>
          </li>

        </ul>

      </div>
    </div>

  </div>

</nav>