<nav class="navbar navbar-expand-lg navbar-dark fondoColor-1 sticky-top">
  <div class="container-fluid mt-1 mb-1">

    <a class="navbar-brand"  (click)="inicio()" href="" routerLinkActive="active" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse.show">
      <img src="assets/images/logo.jpg" style="width: 100px; height: 37px; border-radius: 5px;" alt="" class="d-inline-block align-top headerLogo pb-0 pt-0">
    </a>

    <div class="d-flex flex-row flex-grow-1 d-lg-none">
      <form [formGroup]="formularioBusqueda"
      class="d-flex flex-row align-items-baseline justify-content-center flex-grow-1">
        <input class="form-control me-2 border-search" type="text"
         placeholder="Buscar productos..."
         formControlName="busqueda" id="busqueda1">
        <button class="btn btn-buscar" type="submit" (click)="buscar()" data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show">Buscar</button>
      </form>
    </div>

    <button class="navbar-toggler menu-hamburger" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="d-flex flex-row align-items-baseline flex-basis-auto">

        <ul class="navbar-nav me-auto mb-0 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-categorias" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu categorias-fondo">

              @for (category of categorias; track category.id) {

                <li><a class="dropdown-item categorias-option" (click)="categ(category.id)" href=""
                    routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                    {{category.nombre}}
                  </a>
                </li>

              }
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" (click)="ofertas()" href="" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Ofertas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link color-blanco-verde me-2" href="" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Ayuda
            </a>
          </li>

        </ul>
      </div>

      <div class="d-flex flex-row flex-grow-1 d-none d-lg-block me-2">
        <form [formGroup]="formularioBusqueda"
        class="d-flex flex-row align-items-baseline justify-content-center flex-grow-1">
          <input class="form-control me-2 border-search" type="text"
           placeholder="Buscar productos..."
           formControlName="busqueda" id="busqueda2">
          <button class="btn btn-buscar" type="submit" (click)="buscar()" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Buscar</button>
        </form>
      </div>

      <div class="d-flex flex-row align-items-baseline flex-basis-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          @if(userLogueado() === 'false'){

          <li class="nav-item">
            <a class="nav-link color-blanco-verde" routerLink="/crear-cuenta" onclick="window.scroll(0, 0);" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              Creá tu cuenta</a>
          </li>

          <li class="nav-item me-1">
            <a class="nav-link color-blanco-verde" routerLink="/login" onclick="window.scroll(0, 0);" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Ingresá&nbsp;</a>
          </li>

          } @else {

          @if(getRolOfUser() === 'ADMIN'){

          <li class="nav-item">
            <a href="" class="nav-link texto-administrar" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Administrar&nbsp;</a>
          </li>

          }

          <li class="nav-item dropdown me-2">
            <a class="nav-link dropdown-toggle btn-categorias" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{userNombre()}}
            </a>
            <ul class="dropdown-menu categorias-fondo dropdown-menu-end mb-2">
              <li><a class="dropdown-item categorias-option" routerLink="/perfil" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Perfil
                </a></li>
              <li><a class="dropdown-item categorias-option" routerLink="/purchases" routerLinkActive="active"
                  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Compras
                </a></li>
              <li><a class="dropdown-item categorias-option" (click)="logout()" routerLink="/logout"
                  routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  Cerrar sesión
                </a></li>
            </ul>
          </li>



          }

          <li class="d-flex">
            <a class="navbar-brand" routerLinkActive="active"
              (click)="carrito()" href=""
              class="d-flex align-items-center" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <img src="assets/images/carrito.png" alt="Carrito" class="justify-content-center align-items-center mt-2 mb-2">
            </a>
          </li>

        </ul>

      </div>
    </div>

  </div>

</nav>


<!-- Modal de Ayuda -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 color-6" id="exampleModalLabel">Ayuda</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fondo-modal">

        <p class="textoColor-1" style="font-weight: bold;">Preguntas frecuentes:</p>

        <ul>
          <li>
            <p style="font-weight: bold;">Cuál es la demora en la entrega de una compra?</p>
            <p>Los productos son entregados en la dirección que usted tiene
              registrada en su perfil dentro de las 48 hs posteriores a realizada
              la compra. Cualquier demora extra por casos de fuerza mayor le será
              informada por teléfono.
            </p>
          </li>
          <li>
            <p style="font-weight: bold;">Puedo devolver o cambiar un producto?</p>
            <p>Los productos comprados no pueden ser devueltos, ni recuperar tu dinero
               pagado, pero sí podés cambiarlos por otros productos de nuestra tienda.
            </p>
          </li>
          <li>
            <p style="font-weight: bold;">Puedo modificar mis datos personales?</p>
            <p>Podés modificar tus datos personales ingresando en tu perfil, y presionando
              el botón de editar perfil.
            </p>
          </li>
          <li>
            <p style="font-weight: bold;">Puedo ver un registro de todas mis compras realizadas
              en la tienda?</p>
            <p>Si, podés ver un listado con todo tu historial de compras ingresando en la
              sección compras.
            </p>
          </li>
          <li>
            <p style="font-weight: bold;">Cómo puedo contactarlos?</p>
            <p>Podés contactarnos a través de nuestro ChatBot, o dejándonos un mensaje
              en nuestro Whatsapp número: 11-1234-5678.
            </p>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-buscar" data-bs-dismiss="modal" 
        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Cerrar</button>
      </div>
    </div>
  </div>
</div>